.body {
    background-color: #ddd;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    color: #222;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-gap: 10px;
    margin: 70px;
}