.section {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;

}

.section__label {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    } 
}

.form__input {
    padding: 10px;
        border: 1px solid #ddd;
    }


.form__addButton {
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px;
    border: none;
}

.form__addButton:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__addButton:active {
    background-color: hsl(180, 100%, 35%);
}
