.section {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;

}

.section__top {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__heading {
    font-size: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
}

.section__button {
    color: teal;
    border: none;
    background: transparent;
    margin: 0 0 0 20px;
    transition: 0.4s;
    font-size: 17px;
}

.section__button:hover {
    color: hsl(180, 100%, 30%);
}

.section__button:active {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled {
    color: gray;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}


.form__addButton {
    background-color: hsl(180, 100%, 25%);
    color: white;
    padding: 10px;
    border: none;
    transition: 0.4s;
}

.form__addButton:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.05);
}

.form__addButton:active {
    background-color: hsl(180, 100%, 35%);
}